﻿@page "/system-menu"
@using Veayo24._PS.Client.Components


<Card>
    <TitleTemplate>
        <InputSearch />
    </TitleTemplate>
    <Extra>
        <Button Type="primary">Create</Button>
    </Extra>
    <Body>

    </Body>
</Card>

@code {

}
