﻿<Space>
    @{
        if (ShowView)
        {
            <SpaceItem>
                <Button Shape="circle" Style="color:#1890ff;border-color:#1890ff;margin-top:3px;margin-bottom:3px;" Size="small" OnClick=@(()=>{ OnView.InvokeAsync(Model); })>
                    <Icon Type="@IconType.Outline.Eye" />
                </Button>
            </SpaceItem>
        }
    }

    <SpaceItem>
        <Button Shape="circle" Style="color:#FFB74D;border-color:#FFB74D;margin-top:3px;margin-bottom:3px;" Size="small" OnClick=@(()=>{ OnEdit.InvokeAsync(Model); })>
            <Icon Type="@IconType.Outline.Edit" />
        </Button>
    </SpaceItem>
    <SpaceItem>
        <Button Danger Shape="circle" Style="margin-top:3px;margin-bottom:3px;" Size="small" OnClick=@(()=>{ OnRemove.InvokeAsync(Model); })>
            <Icon Type="@IconType.Outline.Delete" />
        </Button>
    </SpaceItem>

</Space>

@typeparam TModel
@code {
    [Parameter]
    public bool ShowView { get; set; } = false;
    [Parameter]
    public TModel Model { get; set; }
    [Parameter]
    public EventCallback<TModel> OnView { get; set; }
    [Parameter]
    public EventCallback<TModel> OnEdit { get; set; }
    [Parameter]
    public EventCallback<TModel> OnRemove { get; set; }

}
