﻿@using Veayo24._PS.Client.Models.ChangePasswords
@inject Veayo24._PS.Client.Services.Interfaces.IUserService _userService;
@inject MessageService _messageService;

@inherits BaseModal

<Modal Title="Change Password"
       Visible="@VisibleValue"
       ConfirmLoading="@ConfirmLoading"
       OnCancel="@OnCancel"
       OkText="@("Change")"
       OnOk="@OnOkHandler">
    <Form @ref="@_form"
          TModel="@ChangePasswordModel"
          Model="@Model" LabelColSpan="7"
          WrapperColSpan="15"
          ValidateMode="@FormValidateMode.Rules"
          ValidateOnChange="true"
          OnFinish="FormFinish">
        <FormItem Label="Current Password" Rules="@reqiuredRule">
            <InputPassword @bind-Value="@context.CurrentPassword" />
        </FormItem>
        <FormItem Label="New Password" Rules="@reqiuredRule">
            <InputPassword TValue="string" @bind-Value="@context.NewPassword" OnChange="OnPasswordChange" />
        </FormItem>
        <FormItem Label="Confirm Password" Rules="@personNameRules">
            <InputPassword @bind-Value="@context.ConfirmPassword" />
        </FormItem>
    </Form>
</Modal>

@code {
    Form<ChangePasswordModel> _form;
    public ChangePasswordModel Model { get; set; } = new ChangePasswordModel();
    [Parameter, EditorRequired]
    public long UserId { get; set; }

    private FormValidationRule[] personNameRules = new FormValidationRule[]{
        new FormValidationRule{ Required=true,OneOf = new string[]{ " " },Message = "New Password and Confirm Password is not matching!" }
    };
    private FormValidationRule[] reqiuredRule = new FormValidationRule[]{
        new FormValidationRule{ Required=true}
    };
    protected override void OnInitialized()
    {
        base.OnInitialized();

    }
    private void OnOkHandler()
    {
        _form.Submit();
    }
    private void OnPasswordChange(string value)
    {
        var rule = personNameRules.FirstOrDefault();
        if (rule is { })
        {
            rule.OneOf = new string[] { (string.IsNullOrEmpty(value) ? "s" : value) };
            rule.Message = "New Password and Confirm Password is not matching!";
        }
    }

    private async Task FormFinish()
    {
        try
        {
            ConfirmLoading = true;
            await _userService.ChangePasswordAsync(UserId, Model);

            VisibleValue = false;
            ConfirmLoading = false;
            Model = new ChangePasswordModel();

            _ = _messageService.Success("Password has been change!");
        }
        catch
        {
            ConfirmLoading = false;
        }
    }
}
