﻿<div style="width:300px">
    <Search OnSearch="@onSearch" Placeholder="Search" style="width:300px;" EnterButton="true"></Search>
</div>
@code {
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private void onSearch(string str)
    {
        OnSearch.InvokeAsync(str);
    }
}
