﻿@inherits Input<string>
    <Select 
        @bind-Value="@Value"
        TItemValue="string"
        TItem="@Gender" 
        DataSource="@_genders"
        ValueName="@nameof(Gender.Value)"
        LabelName="@nameof(Gender.Name)">
    </Select>

@code {
    Gender[] _genders = new[] { new Gender { Value = "m",Name = "Male" },new Gender { Value = "f",Name = "Female" },new Gender { Value = "o",Name = "Other" } };


    class Gender
    {
        public string Value { get; set; }
        public string Name { get; set; }
    }
}
