﻿@using Veayo24._PS.Client.Models.UserRoles
@using Veayo24._PS.Client.Services.Interfaces
@inherits Input<long?>
<Select DataSource="@List"
        @bind-Value="@(Value)"
        Loading="@Loading"
        ValueName="@(nameof(UserRoleModel.Id))"
        LabelName="@nameof(UserRoleModel.Role)"
        OnSelectedItemChanged="OnSelectedItemChange"
        AllowClear>
</Select>


@code {
    public UserRoleModel Model { get; set; }
    public bool Loading { get; set; }
    public IEnumerable<UserRoleModel> List { get; set; } = new UserRoleModel[] { };

    //inject
    [Inject] IUserRoleService _userRoleService { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadListAsync();
    }

    private async Task LoadListAsync()
    {
        try
        {
            Loading = true;
            List = await _userRoleService.GetListAsync();
            StateHasChanged();
            Loading = false;
        }
        catch
        {
            Loading = false;
        }
    }

    public void OnSelectedItemChange(UserRoleModel model)
    {
        Model = model;
        ValueChanged.InvokeAsync(model?.Id);
    }
}
