﻿@page "/resource-not-found"

<Result Status="error" Title="Resource Not Found" SubTitle="We could not find the resource you are looking for!">
    <div class="desc">
        <Paragraph>
            <Text Strong Style="font-size: 16px;">
                What cause this problem?
            </Text>
        </Paragraph>
        <Paragraph>
            <Icon Type="close-circle" Theme="Outline" Class="site-result-demo-error-icon" /> This resource might delete by another user!
        </Paragraph>
        <Paragraph>
            <Icon Type="close-circle" Theme="Outline" Class="site-result-demo-error-icon" /> You may not have permission to access this resource!
        </Paragraph>
        <Paragraph>
            <Icon Type="question-circle" Theme="Outline" Class="site-result-demo-error-icon" /> Ask your System administrator for this problem!
        </Paragraph>
    </div>
</Result>

@code {

}
