﻿@namespace AntDesign.Pro.Template.Components
@inherits AntDomComponentBase

<Space Class="@ClassMapper.Class" Size="@("24")">
    @*<SpaceItem>
        <HeaderSearch Class="action search"
        Placeholder="Site Search"
        DefaultValue="umi ui"
        Options="DefaultOptions" />
        </SpaceItem>*@
    @*<SpaceItem>
        <AntDesign.Tooltip Title="@("Help")" Placement="@Placement.Bottom">
        <Unbound>
        <span @ref="@context.Current" class="action">
        <Icon Type="question-circle" Theme="outline" />
        </span>
        </Unbound>
        </AntDesign.Tooltip>
        </SpaceItem>*@
    @*<SpaceItem>
        <NoticeIcon ClearText="Empty"
        ViewMoreText="see more"
        Count="_count"
        OnClear="HandleClear"
        OnViewMore="HandleViewMore">
        <NoticeList TabKey="notification"
        Title="Notifications"
        EmptyText="You have viewed all notifications"
        ShowViewMore
        Data="_notifications" />
        <NoticeList TabKey="message"
        Title="Messages"
        EmptyText="You have read all messages"
        ShowViewMore
        Data="_messages" />
        <NoticeList TabKey="event"
        Title="Upcoming"
        EmptyText="You have completed all to do"
        ShowViewMore
        Data="_events" />
        </NoticeIcon>
        </SpaceItem>*@
    <SpaceItem>
        <AvatarDropdown Name="Ratha"
                        Avatar=""
                        MenuItems="@AvatarMenuItems"
                        OnItemSelected="HandleSelectUser" />
    </SpaceItem>
    @*<SpaceItem>
        <SelectLang OnItemSelected="HandleSelectLang" />
        </SpaceItem>*@
</Space>
