﻿@page "/user"
@using System.Data
@using AntDesign.TableModels
@using Veayo24._PS.Client.Components
@using Veayo24._PS.Client.Models.Users
@using Veayo24._PS.Client.Resources
<UserFormComponent @bind-VisibleValue="@ModalVisible"
                   OnCreateSubmit="@OnCreateSubmit"
                   OnUpdateSubmit="@OnUpdateSubmit"
                   ConfirmLoading="@ModalConfirmLoading"
                   Model="@FormModel"
                   Loading="@ModalLoading" />
<Card>
    <TitleTemplate>
        <InputSearch OnSearch="SearchAsync" />
    </TitleTemplate>
    <Extra>
        <Button Type="primary" OnClick="@(()=>{FormModel = new UserModel(); ModalVisible = true;})">Create</Button>
    </Extra>
    <Body>
        <Table TItem="@UserModel"
               DataSource="@PageData.DataList"
               PageIndex="@Page.PageId"
               PageSize="@Page.Result"
               Total="@PageData.AllItemCount"
               Size="TableSize.Small"
               Loading="@ListLoading"
               DefaultExpandAllRows>
            <Column Title="@AppResource.ColumnFullName" @bind-Field="@context.FullName"></Column>
            <Column Title="@AppResource.ColumnUserName" @bind-Field="@context.UserName"></Column>
            <Column Title="@AppResource.ColumnRole" @bind-Field="@context.Role"></Column>
            <ActionColumn Width="120" Title="Action" Align="ColumnAlign.Right">
                <ActionButton ShowView TModel="@UserModel" Model="@context" OnRemove="RowRemoveAsync" OnEdit="@RowEditAsync" OnView="OnTableRowClick" />
            </ActionColumn>
        </Table>
    </Body>
</Card>
