﻿@using Veayo24._PS.Client.Components
@using Veayo24._PS.Client.Models.Users
@using Veayo24._PS.Client.Resources

@inherits BaseModal

<Modal Visible="@VisibleValue" OnCancel="@OnCancel" Title="@ModalText" OkText="@ButtonText" OnOk="@OnOkHandler" ConfirmLoading="@ConfirmLoading">
    @{
        if (Loading)
        {
            <Skeleton Active="true"></Skeleton>
        }
        else
        {
            <Form TModel="@UserModel" Model="@Model" LabelColSpan="6" WrapperColSpan="14" @ref="_form" OnFinish="@OnFinish">
                <FormItem Label="@AppResource.ColumnFullName">
                    <Input @bind-Value="@context.FullName" />
                </FormItem>
                <FormItem Label="@AppResource.ColumnUserName">
                    <Input @bind-Value="@context.UserName" ReadOnly="@(Model.Id != null)" />
                </FormItem>
                <FormItem Label="@AppResource.ColumnPassword">
                    <InputPassword @bind-Value="@context.Password" ReadOnly="@(Model.Id != null)" />
                </FormItem>
                <FormItem Label="@AppResource.ColumnRole">
                    <SelectRoleComponent @bind-Value="@context.UserRoleId" />
                </FormItem>
            </Form>
        }
    }

</Modal>

@code {
    //prop
    Form<UserModel> _form;

    [Parameter]
    public UserModel Model { get; set; }
    [Parameter]
    public EventCallback<UserModel> OnCreateSubmit { get; set; }
    [Parameter]
    public EventCallback<UserModel> OnUpdateSubmit { get; set; }

    public string ButtonText => Loading ? "..." : Model.Id != null ? AppResource.ButtonUpdate : AppResource.ButtonSave;
    public string ModalText => Loading ? "..." : Model.Id != null ? AppResource.TitleEditUser : AppResource.TitleCreateUser;

    public void OnOkHandler()
    {
        _form.Submit();
    }

    private async Task OnFinish()
    {
        if (Model.Id == null)
            await OnCreateSubmit.InvokeAsync(Model);
        else
            await OnUpdateSubmit.InvokeAsync(Model);
    }

    public override async Task OnClear()
    {
        await base.OnClear();
    }

}
