﻿@page "/user/{id:long}"
@using Veayo24._PS.Client.Components
@using Veayo24._PS.Client.Models.Users

<ChangePasswordModal UserId="@Id" @bind-VisibleValue="@ModalVisible" />
<Card Title="User Informations">
    <Body>
        <Skeleton Active="true" Loading="@Loading">
            <Row>
                <Col Span="24">
                <Descriptions>
                    <DescriptionsItem Title="Full Name">@Model?.FullName</DescriptionsItem>
                    <DescriptionsItem Title="User Name">@Model?.UserName</DescriptionsItem>
                    <DescriptionsItem Title="Role">@Model?.Role</DescriptionsItem>
                </Descriptions>
                </Col>
                <Col Span="24">
                <Card Title="Action" Size="small" Style="margin-top:10px;">
                    <Body>
                        <Space>
                            <SpaceItem>
                                <Button Icon="@IconType.Outline.Lock" OnClick="@(()=>{ModalVisible=true;})">Change Password</Button>
                            </SpaceItem>
                            <SpaceItem>
                                <Button Danger Icon="@IconType.Outline.Delete" OnClick="@OnRemove">Remove</Button>
                            </SpaceItem>
                        </Space>
                    </Body>
                </Card>
                </Col>
                <Col Span="24">
                <Card Title="Role and Permission" Size="small" Style="margin-top:10px">
                    <Extra>
                        <Button Loading="@SaveMenuLoading" Icon="@IconType.Outline.Save" Type="primary" OnClick="@OnButtonSaveRoleAndMenu">Save</Button>
                    </Extra>
                    <Body>
                        <Table Size="TableSize.Small" DataSource="@Menus" TreeChildren="x=>x.Childs" Loading="@MenuTableLoading">
                            <Column Width="30%" Title="Name" @bind-Field="@context.Name"></Column>
                            <Column Title="Path" @bind-Field="@context.Path"></Column>
                            <Column Align="ColumnAlign.Center" Width="10%" Title="Show" @bind-Field="@context.IsShow">
                                <Checkbox @bind-Value="@context.IsShow" />
                            </Column>
                            <Column Align="ColumnAlign.Center" Width="10%" Title="View" @bind-Field="@context.IsView">
                                <Checkbox @bind-Value="@context.IsView" />
                            </Column>
                            <Column Align="ColumnAlign.Center" Width="10%" Title="Create" @bind-Field="@context.IsAdd">
                                <Checkbox @bind-Value="@context.IsAdd" />
                            </Column>
                            <Column Align="ColumnAlign.Center" Width="10%" Title="Update" @bind-Field="@context.IsUpdate">
                                <Checkbox @bind-Value="@context.IsUpdate" />
                            </Column>
                            <Column Align="ColumnAlign.Center" Width="10%" Title="Remove" @bind-Field="@context.IsDelete">
                                <Checkbox @bind-Value="@context.IsDelete" />
                            </Column>
                        </Table>
                    </Body>
                </Card>
                </Col>
            </Row>
        </Skeleton>
    </Body>
</Card>


@code {
}
