﻿@page "/customer/create"
@using Veayo24._PS.Client.Components
@using Veayo24._PS.Client.Models.Customers

<Card Title="Create Customer">
    <Body>
        <Form @ref="_form" TModel="@CustomerModel" Model="@Model" LabelColSpan="24">

            <Row Gutter="12">
                <Col Lg="2" Md="8" Sm="24" Xs="24">
                <FormItem Label="Code">
                    <Input ReadOnly Disabled @bind-Value="@context.Code" />
                </FormItem>
                </Col>
            </Row>
            <Row Gutter="12">
                <Col Lg="4" Md="8" Sm="24" Xs="24">
                <FormItem Label="Name">
                    <Input @bind-Value="@context.Name" />
                </FormItem>
                </Col>
                <Col Lg="4" Md="8" Sm="24" Xs="24">
                <FormItem Label="Name Latin">
                    <Input @bind-Value="@context.NameLatin" />
                </FormItem>
                </Col>
            </Row>
            <Row Gutter="12">
                <Col Lg="8" Md="16" Sm="24" Xs="24">
                <FormItem Label="Phone">
                    <Input @bind-Value="@context.Phone" />
                </FormItem>
                </Col>
            </Row>
            <Row Gutter="12">
                <Col Lg="4" Md="8" Sm="24" Xs="24">
                <FormItem Label="Gender">
                    <SelectGenderComponent @bind-Value="@context.Gender" />
                </FormItem>
                </Col>
            </Row>
        </Form>
        <CardAction>
            <Space>
                <SpaceItem>
                    <Button Type="primary" OnClick="onCreateAsync">Save</Button>
                </SpaceItem>
                <SpaceItem>
                    <Button Danger Type="dash">Cancel</Button>
                </SpaceItem>
            </Space>
        </CardAction>
    </Body>
</Card>

@code {

    //private RenderFragment validator = @

    //<CustomValidator />
}
