﻿@page "/customer"
@using Veayo24._PS.Client.Components
<Card>
    <TitleTemplate>
        <InputSearch />
    </TitleTemplate>
    <Extra>
        <Button Type="primary" OnClick="OnCreate">Create</Button>
    </Extra>
    <Body>

    </Body>
</Card>
@code {

}
